/*font Variables*/
$primary-font: 'Roboto', sans-serif;

/*Color Variables*/
$primary-color  : #9BBF4D;
$primary-color2 : #4B4B4B;
$active-link    : #9BBF4D;
$title-color    : #05364d;
$text-color     : #797979;
$offwhite       : #f8faff;
$hover-color    : #675129;
$white          : #fff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
