<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="/assets/img/favicon.png" type="image/png">
	<title>MaMBA - Magnetoelastic Materials beyond Born-Oppenheimer Approximation</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/bootstrap.css">
	<link rel="stylesheet" href="/assets/themify-icons.css">
	<!-- main css -->
	<link rel="stylesheet" href="/css/hiring.css"> 
	{{ layout.headscript }}
</head>

<body>
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html"><img src="/assets/img/logo.png" alt=""></a>
					<a class="navbar-brand logo_inner_page" href="index.html"><img src="/assets/img/logo2.png" alt=""></a>      
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav">
                          {% if page.menu == "home" %}
							<li class="nav-item"><a class="nav-link" href="#home">Top</a></li>
							<li class="nav-item"><a class="nav-link" href="#about">About MaMBA</a></li>
							<li class="nav-item"><a class="nav-link" href="#hiring">Hiring</a></li>
							<li class="nav-item"><a class="nav-link" href="#pi">About PI</a></li>
							<li class="nav-item"><a class="nav-link" href="#wp">Project Details</a></li>
							<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                          {% else %}
                            <li class="nav-item"><a class="nav-link nav-white" href="/#about">About MaMBA</a></li>
							<li class="nav-item"><a class="nav-link nav-white" href="/alsa">ALSA</a></li>
							<li class="nav-item"><a class="nav-link nav-white" href="/#hiring">Hiring</a></li>
                            <li class="nav-item"><a class="nav-link nav-white" href="/#contact">Contact</a></li>
                          {% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
    {{ content }}
	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="#">
								<img src="/assets/img/logo2.png" alt="">
							</a>
							<div class="d-lg-block d-none">
								<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
									<div class="collapse navbar-collapse offset">
										<ul class="nav navbar-nav menu_nav mx-auto">
											<li class="nav-item"><a class="nav-link text-white" href="#home">Top</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="#about">About MaMBA</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="#job">Job description</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="#pi">About PI</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="#details">Details</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="#contact">Contact</a></li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="footer_social mt-lg-0 mt-4">
							<a href="https://twitter.com/petrscience"><i class="ti-twitter"></i></a>
							<a href="skype:me2d09?call"><i class="ti-skype"></i></a>
							<a href="https://www.linkedin.com/in/pcermak/"><i class="ti-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy;<script>document.write(new Date().getFullYear());</script> <a href="https://cermak.science/">Petr</a> | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>, modified by <a href="https://cermak.science/">Petr</a>.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/assets/jquery-3.2.1.min.js"></script>
	<script src="/assets/popper.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/stellar.js"></script>
	<script src="/assets/jquery.ajaxchimp.min.js"></script>
	<script src="/assets/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/assets/gmaps.min.js"></script>
	<script src="/assets/theme.js"></script>
</body>

</html>