---
layout: default
---
  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>{{ page.title }}</h2>
                  {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
                  <div class="page_link">
                      <a href="/">Home</a>
                      <a href="{{ page.url }}">{{ page.title }}</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->
  <section class="text_area section-margin">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {{ content }}
                </div>
                <div class="col-lg-5">
                <div class="portfolio_right_text mt-30">
                    <h4>ALSA at a glance</h4>
                    <p>
                        <i>Automatic Laue Sample Aligner</i>
                    </p>
                    <ul class="list">
                        <li>Gamechanger in neutron scattering.</li>
                        <li>Coalign thousands of tiny sub-mm single crystals.</li>
                        <li>X-Ray Laue & robotic arm & computer vision</li>
                        <li>Artifficial intelligence algorithms</li>                            
                    </ul>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
