---
layout: default
---
  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>{{ page.title }}</h2>
                  <div class="page_link">
                      <a href="/">Home</a>
                      <a href="/#hiring">Hiring</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->
  <section class="text_area section-margin">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {{content}}
                </div>
                <div class="col-lg-5">
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">Position Info</h4>
                    <p>
                        <i>{{ page.subtitle }}</i>
                    </p>
                    <ul class="list">
                        {{ page.info }}
                    </ul>
                </div>          
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">How to apply</h4>
                    <p>
                        Send your application with short cover letter, CV and a brief description of your previous professional activities to <a href="mailto:cermak@mag.mff.cuni.cz">cermak@mag.mff.cuni.cz</a>.
                    </p><p>
                        You can also reach me via <a href="tel:+420737202190">phone</a>, <a href="/#contact">contact form</a> or text me on <a href=" https://discordapp.com/users/707677056548470825/">Discord</a>, nick <code>petrscience#1543</code>.
                    </p>
                </div>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
