---
layout: default
headscript: |
  <script src="https://unpkg.com/@botpoison/browser" async></script>
  <script>
    UPLOADCARE_PUBLIC_KEY = '86a1f14f13f90e5922d5';
    UPLOADCARE_TABS = 'file url gdrive dropbox onedrive';
  </script>
  <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
---
  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>{{ page.title }}</h2>
                  {% if page.subtitle %}<h3>{{ page.subtitle }}</h3>{% endif %}
                  <div class="page_link">
                      <a href="/">Home</a>
                      <a href="/#hiring">Hiring</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->
  <section class="text_area section-margin">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="portfolio_details_inner">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {{content}}
                </div>
                <div class="col-lg-5">
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">Position Info</h4>
                    <p>
                        <i>{{ page.onesentence }}</i>
                    </p>
                    <ul class="list">
                        {{ page.info }}
                    </ul>
                </div>    
                {% if page.appformlink %}      
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">How to apply?</h4>
                    <p>Please follow the official procedure described on the <a href="{{ page.appformlink }}">university webpage</a>.
                        ID of the position is {{ page.posid }}.
                    </p>
                    <p>
                        In case of further questions, you can&nbsp;<a href="tel:+420737202190">call</a>&nbsp;or write an <a href="mailto:petr.cermak@matfyz.cuni.cz">e-mail</a> to&nbsp;Petr.
                    </p>
                </div>
                {% else %}
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">Application form</h4>
                    <form id="form" class="needs-validation" action="{{ page.formurl | default: 'https://submit-form.com/echo' }}" data-botpoison-public-key="pk_a2e52fac-b9a5-49ef-bca0-70fd0e2c5e60" novalidate>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" placeholder="James Kirk" required="" />
                                <div class="invalid-feedback">
                                    Please tell us your name!
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" placeholder="alfred@nobel.science" required="" />
                                <div class="invalid-feedback">
                                    We need your email to contact you.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="url" class="col-sm-2 col-form-label">Web</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="url" name="url" placeholder="Web/LinkedIn" aria-describedby="urlhelp"/>
                            </div>
                            <small id="urlhelp" class="form-text text-muted">
                                Enter either your personal web page or link to your social account (E.g. LinkedIn).
                            </small>
                            
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">References</label>
                            <div class="form-row">
                                <div class="col">
                                <input type="text" name="ref1name" class="form-control" placeholder="Referee 1"  required="">
                                <div class="invalid-feedback">
                                    At least 1 referee.
                                </div>
                                </div>
                                <div class="col">
                                <input type="text" name="ref1name" class="form-control" placeholder="Email/Phone"  required="">
                                <div class="invalid-feedback">
                                    Phone or email needed.
                                </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                <input type="text" name="ref2name" class="form-control" placeholder="Referee 2">
                                </div>
                                <div class="col">
                                <input type="text" name="ref2name" class="form-control" placeholder="Email/Phone">
                                </div>
                            </div>
                            <small class="form-text text-muted">
                                Enter the name and contact to at least one referee who can comment on your suitability to study for a research topic.
                            </small>
                        </div>
                        <div class="form-group row">
                            <label for="letter" class="col-sm-5 col-form-label">Motivation letter</label>
                            <div class="col-sm-7 text-right">
                                <input type="text" style="display:none" required="" id="letter" name="letter" role="uploadcare-uploader" data-file-types="pdf"  />
                                <div class="invalid-feedback" id="lettererror">
                                    You need to upload Motivation letter.
                                </div>
                            </div>
                            <small class="form-text text-muted">
                                Your motivation letter should be maximum 1 page PDF file.
                            </small>
                            
                        </div>
                        <div class="form-group row">
                            <label for="cv" class="col-sm-5 col-form-label">CV</label>
                            <div class="col-sm-7 text-right">
                                <input type="text" style="display:none" required="" id="cv" name="cv" role="uploadcare-uploader" data-file-types="pdf" />
                                <div class="invalid-feedback" id="cverror">
                                    You need to upload your CV.
                                </div>
                            </div>
                            <small class="form-text text-muted">
                                Upload your CV in PDF format.
                            </small>
                            
                        </div>
                        <div class="form-group row">
                            <input type="checkbox" name="signin" style="display:none" tabindex="-1" autocomplete="off" />    
                            <button id="button" type="submit" class="btn btn-primary mx-auto">Send application</button>
                        </div>
                      </form>
                      <script>
                        var formElement = document.getElementById("form");
                        var buttonElement = document.getElementById("button");
                        
                        formElement.addEventListener("botpoison-challenge-start", function () {
                          buttonElement.setAttribute("disabled", "disabled");
                        });
                        formElement.addEventListener("botpoison-challenge-success", function () {
                          buttonElement.removeAttribute("disabled");
                        });
                        formElement.addEventListener("botpoison-challenge-error", function () {
                          buttonElement.removeAttribute("disabled");
                        });

                        formElement.addEventListener('submit', function(event) {
                            
                                if (form.checkValidity() === false) {
                                    $("#lettererror").toggle(!uploadcare.Widget("[id=letter]").value());
                                    $("#cverror").toggle(!uploadcare.Widget("[id=cv]").value());
                                event.preventDefault();
                                event.stopPropagation();
                                }
                                formElement.classList.add('was-validated');
                            }, false);
                      </script>
                    <div class="form-group row">
                        In case of further questions, you can&nbsp; <a href="tel:+420737202190">call us</a>&nbsp;or write an e-mail to&nbsp;<a href="mailto:cermak@mag.mff.cuni.cz">Petr</a>&nbsp;or&nbsp;<a href="mailto:jjochum@frm2.tum.de">Johanna</a>.
                    </div>
                </div>
                {% endif %}
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
